html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.d-grid{
    display: grid;
}

.gc-2{
    grid-template-columns: 1fr 1fr;
}

.gc-3{
    grid-template-columns: repeat(3, 1fr);
}

/* Override BS start*/
@media screen and (min-width: 992px){
    .container-sm{
        max-width: 600px;
    }
}

.badge {
    --bs-badge-font-size: 14px;
}

/* Override BS end */

textarea{
    resize: none;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    box-shadow: unset;
}

.grid, .subgrid{
    display: grid;
}

.grid-row-3{
    grid-template-rows: repeat(3, 1fr);
}

.grid-col-2{
    grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.list-group-item {
    box-shadow: 0 0 1.5rem 0 #1a1f4333;
}

.list-group-item:hover {
    box-shadow: 0 0 1.5rem 0 #1a1f4360;
    background-color: #fff !important;
    transition: all ease-in-out .1s;
}

/*.panels .list-group{
    display: unset;
}*/

.subgrid{
    grid-template-rows: subgrid;
}

.grid-row-4 .subgrid,
.span-row-4{
    grid-row: span 4;
}

.subgrid-row-3,
.span-row-3{
    grid-row: span 3;
}

.panel {
    padding: 20px;
    /*    box-shadow: 0 0 1.5rem 0 #f9f9f9;*/
    border-radius: 7px;
}

.panel--green {
    background-color: #1987540a;
}

.panel--blue {
    background-color: #0d6efd08;
}

.panel--red {
    background-color: #dc35450d;
}